extends layout

block content
	h1= title
	p Welcome to #{title}
	p Hallo LALALA!!
	div.media
		a.pull-left(href="#")
			img.media-object(src="https://si0.twimg.com/profile_images/378800000507080161/068f94206ea091e2a05f6ee621d9647b_bigger.png", alt="...")
		.media-body
			h4.media-heading Media heading
			| Lorem ipsum Non esse officia nulla ex dolor consequat irure Duis laborum sit laboris dolor mollit enim dolor aliqua id ea Duis quis anim cillum mollit enim in enim enim Excepteur adipisicing consequat sed ut veniam enim pariatur Ut in nulla incididunt aliqua cillum voluptate aliqua sunt ea officia aute anim ut do laborum voluptate pariatur et deserunt Excepteur minim dolore laboris officia ullamco dolore aliquip eu cupidatat adipisicing incididunt veniam enim anim occaecat deserunt sint in ea nostrud exercitation labore cupidatat qui in irure non culpa Ut ut sunt amet in laborum occaecat adipisicing incididunt dolore ut adipisicing ea consequat do commodo officia aute enim pariatur qui est elit magna officia do magna sit in qui consectetur labore culpa est fugiat eiusmod ut dolor cupidatat reprehenderit proident ullamco incididunt in sint aliqua qui labore ex culpa officia nisi enim in ut velit veniam do Duis consequat aliqua ullamco exercitation velit ullamco Excepteur laborum dolore reprehenderit sit aliqua ut cupidatat sint in anim laborum laboris officia culpa sint quis elit cupidatat consequat in ut nulla in Excepteur ea ut et nostrud reprehenderit officia consectetur aliqua ut consequat ullamco sint dolor deserunt velit anim do ea ad culpa voluptate aliquip aliqua ea dolore occaecat sed adipisicing incididunt proident est ut amet nostrud pariatur est dolore occaecat aliquip Excepteur adipisicing sed Excepteur occaecat in Duis nostrud incididunt in in cillum ut occaecat minim cupidatat dolore dolore culpa nostrud elit ad tempor anim dolor elit qui enim fugiat ullamco nostrud id et ut sint ut enim nostrud sint laborum ut sunt occaecat officia dolor minim pariatur veniam magna in anim commodo.
			i.icon-bitbucket